// animation

.main {
    height: 100vh;
    background: #223;
    display: grid;
    place-items: center;
}

.box {
    width: 60vmin;
    height: 50vmin;
    display: grid;
    place-content: center;
    color: white;
    text-shadow: 0 1px 0 #000;

    --border-angle: 0turn;
    --main-bg: conic-gradient(
        from var(--border-angle),
        #213,
        #112 5%,
        #112 60%,
        #213 95%
    );

    border: solid 5px transparent;
    border-radius: 2em;
    --gradient-border: conic-gradient(from var(--border-angle), transparent 25%, #08f, #f03 99%, transparent);

    background: 
      var(--main-bg) padding-box,
      var(--gradient-border) border-box, 
      var(--main-bg) border-box;
    
    background-position: center center;
  
    animation: bg-spin 3s linear infinite;
    @keyframes bg-spin {
      to {
        --border-angle: 1turn;
      }
    }
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}

// style

.line_input {
  background: transparent;
  border: none;
  border-bottom: 2px solid navy;
  outline: none;
  box-sizing: border-box;
  transition: 0.3s;

  &:hover {
    border-bottom: 2px solid blue;
  }

  &::placeholder {
    color: #aaa;
  }

  &:focus {
    border-bottom: 2px solid blue;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  }
}

.animated_form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.0);

  >* {
    margin: 10px;
  }

  input {
    width: 100%;
    height: 40px;
    margin: 10px;
    position: relative;
  }
}