.container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

.gradient_form {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    >* {
        margin: 10px;
    }

    input {
        width: 100%;
        height: 40px;
        margin: 10px;
        position: relative;
    }
}

.line_input {
    background: transparent;
    border: none;
    border-bottom: 2px solid navy;
    outline: none;
    box-sizing: border-box;
    transition: 0.3s;

    &:focus {
        border-bottom: 2px solid blue;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    }

    &::placeholder {
        color: grey;
    }

    &:hover {
        border-bottom: 2px solid blue;
    }
}

.gradient_button {
    position: relative;
    overflow: hidden;
    border: none;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    background-size: 200% 200%;
    transition: transform 0.3s ease;
    animation: gradientAnimation 3s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}